
@{
    ViewBag.Title = "ManageAbstracts";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<div ng-controller="AbstractController" class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h3 style="font-family:yekan;float:right">مدیریت چکیده ها</h3>
                <a ng-click="ClearData()" id="BtnAdd" style="margin-top:25px; font-size:20px; float:left" href="#myModal" data-toggle="modal" class="btn btn-xs btn-primary right">
                    <i class="icon-plus"></i>
                </a>
            </header>
            <table class="table table-striped table-advance table-hover">
                <thead>
                    <tr>
                        <th style="text-align:center">متن چکیده</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in Abstracts">
                        <input type="hidden" value="{{x.AbstractId}}" />
                        <td>
                            {{x.AbstractText}}
                        </td>
                        <td style="width:70px">
                            <button ng-click="FillData(x.AbstractId)" class="btn btn-primary btn-xs BtnEdit"><i class="icon-pencil"></i></button>
                            <button ng-click="DeleteData(x.AbstractId)" class="btn btn-danger btn-xs"><i class="icon-trash "></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>



    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 class="modal-title">&nbsp;</h4>
                </div>
                <div class="modal-body">

                    <form id="modalForm" role="form">
                        
                        <div class="form-group">
                            <label for="exampleInputPassword1">متن چکیده</label>
                            <input class="form-control" id="ExpertFullName" ng-model="Abstract.AbstractText" name="ExpertFullName" type="text" />
                        </div>
                        <button ng-click="SaveData()" id="BtnSendData" type="button" class="btn btn-success">ذخیره</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
@section SectionJs
{
<script src="~/Areas/Admin/Scripts/Angu_Manage_Abstracts.js"></script>
    
}


